<h1 class="title text-center">Create a list</h1>
<div class="container">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.submit "Create a list", class: "btn btn-light" %>
  <% end %>
</div>
