.title {
  font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
