.image-container {
  width: 100%; /* You can set the width of the container */
  height: 30rem; /* You can set the height of the container */
  overflow: hidden; /* Hide any overflow of the image */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  transition: 0.8s;

  img {
    width: 100%; /* Make the image take the full width of the container */
    height: 100%; /* Make the image take the full height of the container */
    opacity: 0.5;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  h5 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  &:hover {
    box-shadow: 4px 4px 8px #fc6f6f;
    transition: 0.8s;
    transform: scale(1.1);
  }
}

.list-container {
  position: relative;
  width: 100%; /* You can set the width of the container */
  height: 10rem; /* You can set the height of the container */
  overflow: hidden; /* Hide any overflow of the image */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  transition: 0.8s;

  img {
    width: 100%; /* Make the image take the full width of the container */
    height: 100%; /* Make the image take the full height of the container */
    opacity: 0.5;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    transition: 0.8;

    &:hover {
      color: #fc6f6f;
      transition: 0.8s;
    }
  }

  &:hover {
    box-shadow: 4px 4px 8px #fc6f6f;
    transition: 0.8s;
    transform: scale(1.1);
  }
}

.card-details {
  width: 90%; /* You can set the width of the container */
  height: 40rem; /* You can set the height of the container */
  overflow: hidden; /* Hide any overflow of the image */
  background-color: #c2c2c2;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
  transition: 0.8s;
  font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;

  img {
    width: 100%; /* Make the image take the full width of the container */
    height: 75%; /* Make the image take the full height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  h5 {
    font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  p {
    font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
  }

  &:hover {
    box-shadow: 0 0 16px #fc6f6f;
    transition: 0.8s;
  }
}

.list-details-container {
  position: relative;
  width: 90%; /* You can set the width of the container */
  height: 40rem; /* You can set the height of the container */
  overflow: hidden; /* Hide any overflow of the image */
  background-color: #c2c2c2;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
  font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  transition: 0.8s;

  img {
    width: 100%; /* Make the image take the full width of the container */
    height: 70%; /* Make the image take the full height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  h5 {
    font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  p {
    font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
  }

  .delete {
    position: absolute;
    bottom: 10rem;
    right: 1rem;
    color: white;
    transition: 0.8;

    &:hover {
      color: #fc6f6f;
      transition: 0.8s;
    }
  }

  &:hover {
    box-shadow: 0 0 16px #fc6f6f;
    transition: 0.8s;
  }
}
