@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-font {
  font-family: 'Jost', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  a {
    transition: 0.8s;
  }

  a:hover {
    color: #fc6f6f;
    transition: 0.8s;
  }
}

.box-shadow {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  transition: 0.8s;

  &:hover {
    box-shadow: 4px 4px 8px #fc6f6f;
    transition: 0.8s;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
